@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #19a1ad;
    background-image: url("../images/bg-pattern-top.svg"), url(../images/bg-pattern-bottom.svg);
    background-position: bottom 29rem right 10rem,bottom -24rem right -34rem;
    background-size: 50rem;
    background-repeat: no-repeat; 

    font-size: 62.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
}

main {
    width: 21.7rem;
    height: 22rem;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem 1rem 0rem 0rem;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bloco1 {
    width: 21.7rem;
    border-radius: 1rem 1rem 0rem 0rem;
}

.foto {
    width: 6.5rem;
    position: relative;
    top: -3.7rem;
    border: 4px solid #ffffff;
    border-radius: 20rem;
}

.sesao-fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sesao-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -2rem;
    background-color: rgba(0, 128, 0, 0);
    width: 21.7rem;
    height: 11.7rem;
    gap: 2em;

}

address {
    display: flex;
    flex-direction: column;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

h1 {
    font-size: 1.2rem;
    font-style: normal;
}

span {
    font-size: 1.1rem;
    font-style: normal;
}

.sesao-2 {
    border-top: 0.1rem solid rgba(59, 59, 59, 0.397);
    background-color: #ffffff;
    height: 6rem;
    width: 21.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0rem 0rem 1rem 1rem;
}

.bloco-num {
    display: flex;
    flex-direction: column;
}

.s-num {
    font-weight: 700;
}

.s-nome {
    font-size: 0.8rem;
    color: #5e5e5e;
}